In [187]:
import numpy as np
import pandas as pd
import pycountry
import plotly.express as px
import plotly.graph_objects as go
from collections import defaultdict

In [202]:
source = px.data.gapminder()
source = source.groupby(['country','iso_alpha'],as_index=False).agg({'iso_num': 'mean'})
country_code = defaultdict(str)
for i in source.iterrows():
    country_code[i[1][0]] = i[1][1]
    
country_code['Antigua and Barbuda'] = 'ATG'
country_code['Bahamas'] = 'BHS'
country_code['Barbados'] = 'BRB'
country_code['Belize'] = 'BLZ'
country_code['Luxembourg'] = 'LUX'
country_code['Malta'] = 'MLT'
country_code['Republic of Korea'] = 'KOR'
country_code['Saint Lucia'] = 'LCA'
country_code['Saint Vincent and Grenadines'] = 'VCT'
country_code['Seychelles'] = 'SYC'
country_code['Suriname'] = 'SUR'
country_code['Turkmenistan'] = 'TKM'
country_code['Ukraine'] = 'UKR'

countries = defaultdict(str)
for country in pycountry.countries:
    countries[country.name] = country.alpha_3
    
countries['Russia'] = 'RUS'
countries['Ivory Coast'] = 'CIV'
countries['South Korea'] = 'KOR'
countries['Cape Verde'] = 'CPV'
countries['Moldova'] = 'MDA'
countries['Bolivia'] = 'BOL'
countries['F.S. Micronesia'] = 'FSM'
countries['North Korea'] = 'PRK'
countries['Czech Republic'] = 'CSE'
countries['Tanzania'] = 'TZA'
countries['Laos'] = 'LAO'
countries['Vietnam'] = 'VNM'
countries['East Timor'] = 'TMP'
countries['Brunei'] = 'BRU'
countries['Iran'] = 'IRN'
countries['Venezuela'] = 'VEN'
countries['São Tomé and Príncipe'] = 'STP'
countries['Syria'] = 'SYR'
countries['DR Congo'] = 'COD'

In [219]:
data = pd.read_excel('data1.xlsx').values
data1 = []
data2 = []
for i in data[:, 1]:
    if i.endswith('[a]\xa0(more info)'):
        data1.append(i[:-15].strip())
    elif i.endswith('(more info)'):
        data1.append(i[:-12].strip())
    elif i.endswith('[a]'):
        data1.append(i[:-3].strip())
    else:
        data1.append(i.strip())
        
for i in data1:
    data2.append(countries[i])
        
data[:, 1] = data1
data[:, 2] = data2

data = pd.DataFrame(data=data, columns=['Rank', 'Country', 'Code', 'Rate'])

    Rank              Country Code  Rate
0      1               Guyana  GUY  30.2
1      2              Lesotho  LSO  28.9
2      3               Russia  RUS  26.5
3      4            Lithuania  LTU  25.7
4      5             Suriname  SUR  23.2
..   ...                  ...  ...   ...
178  179              Jamaica  JAM     2
179  180              Grenada  GRD   1.7
180  181              Bahamas  BHS   1.6
181  182  Antigua and Barbuda  ATG   0.5
182  183             Barbados  BRB   0.4

[183 rows x 4 columns]

In [ ]:
data = pd.read_csv('master.csv')
df1 = data[['country', 'year', 'suicides_no', 'suicides/100k pop']]
df1 = df1.groupby(['country'], as_index=False).agg({'suicides_no': 'mean', 'suicides/100k pop':'mean'})
df1.insert(1, 'iso_alpha', 'none')
df1['iso_alpha'] = df1.apply(lambda x: country_code[x['country']], axis=1)